@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #ffffff;
  --foreground: #171717;
}

/* Ensure the body and html have full height */
html,
body,
#root {
  height: 100%;
  margin: 0;
  padding: 0;
}

@font-face {
  font-family: "STIX Two Text";
  src: url("/fonts/STIXTwoText-VariableFont_wght.ttf") format("truetype");
  font-weight: 100 900;
}

@font-face {
  font-family: "Dancing Script";
  src: url("/fonts/DancingScript-VariableFont_wght.ttf") format("truetype");
  font-weight: 100 900;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  color: var(--foreground);
  background: var(--background);
  overflow-x: hidden;
  font-family: Arial, Helvetica, sans-serif;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

/* Hide scrollbar for WebKit-based browsers */
html::-webkit-scrollbar,
body::-webkit-scrollbar {
  width: 0px;
  background: transparent;
}

/* Hide scrollbar for Firefox */
html,
body {
  scrollbar-width: none; /* Firefox */
}

/* Hide scrollbar for Internet Explorer 10+ and Edge */
html,
body {
  -ms-overflow-style: none; /* IE and Edge */
}

/* Hide scrollbar manually */
.hide-scrollbar::-webkit-scrollbar,
.modal-content::-webkit-scrollbar {
  display: none;
}

.no-spinner::-webkit-outer-spin-button,
.no-spinner::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

.no-spinner[type="number"] {
  -moz-appearance: textfield;
}

/*------scroll-bar-------------*/
/* Light Mode (Default) */
:root {
  --scrollbar-track: #f2faf4;
  --scrollbar-thumb: #452fab;
}

/* Dark Mode */
.dark {
  --scrollbar-track: #0d1117;
  --scrollbar-thumb: #452fab;
}

/* Scrollbar Styling */
::-webkit-scrollbar {
  width: 7px;
}

::-webkit-scrollbar-thumb {
  background-color: var(--scrollbar-thumb);
  border-radius: 5px;
}

::-webkit-scrollbar-track {
  background-color: var(--scrollbar-track);
}

/* Hide the spinner arrows */
input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Disable scrollbar during resize */
.no-scroll {
  overflow: hidden !important;
}
